@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Poppins:wght@400;500;700&display=swap');

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root{
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purpule: #5C62EC;

    --page-text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purpule);
}

html, body{
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;
    color: var(--page-text-color);
}

.container{
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header start */

.header{
    background-color: var(--dark-bg);
    border-bottom: 1px solid var(--dark-border);
    padding: 20px 0;
    letter-spacing: normal;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.header__logo{
    color: var(--header-text);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
}

.header__logo span{
    font-weight: 700;
}

.menu__list{
    display: flex;
    column-gap: 40px;
}

/* .menu__list-item{
    margin-right: 40px;
}

.menu__list-item:last-child{
    margin-right: 0;
} */

.menu__link{
    color: var(--header-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.menu__link--active{
    position: relative;
}

.menu__link--active::before{
    content: '';

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--accent);
}

/* Header end */

/* Main start */

/* about-me start */

.about-me {
    padding: 40px 0;
    min-height: 695px;

    background-color: var(--dark-bg);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-bg);
    background-image: url(./../img/about-me-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--white);
    text-align: center;
}

.about-me__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.about-me__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.about-me__title strong{
    font-size: 60px;
    font-weight: 700;
}

.about-me__title em{
    font-style: normal;
    color: var(--accent);
}

.about-me__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}

.about-me__text p + p{
    margin-top: 1em;
}

.btn {
    padding: 12px 28px;
    background-color: var(--accent);
    border-radius: 5px;
    
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;

    transition: all .3s ease-in;
}

.btn:hover{
    background-color: #363872;
}

.btn:active{
    position: relative;
    top: 1px;
}







/* about-me end */


/* Main end */