@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Poppins:wght@400;500;700&display=swap');

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root{
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purpule: #5C62EC;

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purpule);
}

html, body{
    font-family: 'DM Sans', sans-serif;
    background-color: var(--dark-bg);
}

.container{
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header start */

.header{
    background-color: var(--dark-bg);
    border-bottom: 1px solid var(--dark-border);
    padding: 20px 0;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.header__logo{
    color: var(--header-text);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
}

.header__logo span{
    font-weight: 700;
}

.menu__list{
    display: flex;
    column-gap: 40px;
}

/* .menu__list-item{
    margin-right: 40px;
}

.menu__list-item:last-child{
    margin-right: 0;
} */

.menu__link{
    color: var(--header-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.menu__link--active{
    position: relative;
}

.menu__link--active::before{
    content: '';

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--accent);
}

/* Header end */